@import "tailwindcss";

:root{
  --navy:#001F54;
  --mint:#A8E6CF;
  --purple:#7C3AED;
  --dark:#0F172A;
  --light:#F8FAFC;
}

html{
  scroll-behavior:smooth;
}

body{
  background:white;
  color:#111827;
  font-family:Inter,sans-serif;
}

.section{
  max-width:1280px;
  margin:auto;
  padding:100px 24px;
}

.btn{
  padding:14px 28px;
  border-radius:999px;
  font-weight:600;
}